<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Update User</title>
</head>
<body>
  <div class="w-full h-full bg-zinc-900 p-10 text-white">
    <div class="flex justify-center items-center h-10 mt-10">
      <h1 class="text-7xl tracking-tighter mb-3 font-bold bg-gradient-to-r from-blue-500 to-purple-500 bg-clip-text text-transparent shadow-md break-words"> Mongo Administrator App </h1>
    </div>
    <div class="nav mb-10 mt-10 text-2xl" style="text-align: center;">
      <a class="text-blue-500 underline" href="/read"> Read Users</a>
    </div>
    <div style="text-align: center;">
      <h1 class="text-3xl tracking-tighter mb-3">Update User</h1>
      <form action="/update/<%= users._id %>" method="post">
        <input class="px-5 py-2 border-2 border-zinc-800  mt-5 outline-none rounded-lg bg-transparent " type="text" name="name" placeholder=" Name" value="<%= users.name %>"><br><br>
        <input class="px-5 py-2 border-2 border-zinc-800  outline-none rounded-lg bg-transparent " type="text" name="email" placeholder="Email" value="<%= users.email %>"><br><br>
        <input class="px-5 py-2 border-2 border-zinc-800  outline-none rounded-lg bg-transparent " type="text" name="image" placeholder=" Image URL" value="<%= users.image %>"><br><br>
        <input class="px-5 py-2 bg-yellow-500 text-black rounded-lg ml-3" type="submit" value="Update User">
      </form>
    </div>
  </div>
</body>
</html>